# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# IDEs
.vscode/
.idea/

# Project specific
model_checkpoints/

# macOS
.DS_Store
